<p>Quote: {{quote.Quote}}</p>
<p>Submitter: {{quote.Submitter}}</p>
<p>Days ago: {{quote.completeDate|dateCount|number:'1.0-0'}}</p>
        <div><button (click)='thumbsUp(quote)' class="btn btn-info">Like button</button>
          <p>Likes: {{quote.upvote}}</p>
          <br>
          <button (click)='thumbsDown(quote)'class="btn btn-danger">Dislike button</button>
          <p>Dislikes: {{quote.downvote}}</p>
        </div>
<button (click)= 'quoteDelete(true)' class="btn btn-danger">Delete Quote</button>